.reminders {
  .reminder-wrapper {
    overflow: auto;
    height: 185px;
  }
  .main-title {
    padding: 20px;
    padding-bottom: 5px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 19.2px;
    font-weight: bold;
    color: #333333;
  }
  .reminder {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid #f0f0f0;

    .title {
      padding: 10px;
      font-size: 16px;
      width: 190px;
    }
    .price {
      padding: 10px;
      font-size: 16px;
      width: 90px;
    }
    .due-date {
      padding: 10px;
      font-size: 16px;
      width: 190px;
      text-align: right;
    }
    .priority {
      padding: 10px;
      margin-left: 20px;
      width: 190px;
      font-size: 16px;
      font-weight: bold;
      text-align: left;
      &.High {
        color: #fb2020;
      }
      &.Intermediate {
        color: #e8a006;
      }
      &.Low {
        color: #09fffb;
      }
    }
  }
}
