<div class="widget-container">
  <div class="widget green">
    <div class="icon">
      <fa-icon [icon]="faMoneyBillTransfer"></fa-icon>
    </div>
    <div class="value">
      <div class="top">355,400</div>
      <div class="bottom">Income Summary</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <fa-icon [icon]="faSackXmark"></fa-icon>
    </div>
    <div class="value">
      <div class="top">124,800</div>
      <div class="bottom">Expenses Summary</div>
    </div>
  </div>

  <div class="widget yellow">
    <div class="icon">
      <fa-icon [icon]="faMoneyBillTrendUp"></fa-icon>
    </div>
    <div class="value">
      <div class="top">200,000</div>
      <div class="bottom">Savings Summary</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon">
      <fa-icon [icon]="faBell"></fa-icon>
    </div>
    <div class="value">
      <div class="top">2</div>
      <div class="bottom">Bill reminders</div>
    </div>
  </div>
</div>
