.main-container {
  display: flex;
  .side-nav {
    width: 350px;
    min-width: 230px;
    min-height: calc(100vh - 70px);
    background-color: #a300ff;
    color: #fff;
    box-shadow: 5px 5px 5px rgba(64, 63, 63, 0.226);
    @media only screen and (max-width: 1300px) {
      width: 100px;
      min-width: 100px;
    }
  }

  .main-dash {
    padding: 5px;
  }
}
