<div class="section-one">
  <app-top-widgets></app-top-widgets>
</div>

<div class="section-three">
  <div class="widget left">
    <app-income-by-date></app-income-by-date>
  </div>
  <div class="widget right">
    <app-leading-income></app-leading-income>
  </div>
</div>
<div class="section-two">
  <div class="widget left">
    <app-expense-by-date></app-expense-by-date>
  </div>
  <div class="widget right">
    <app-leading-expense></app-leading-expense>
  </div>
</div>
<div class="section-four">
  <div class="widget left">
    <app-remiders></app-remiders>
  </div>
  <div class="widget right">
    <app-savings-stats></app-savings-stats>
  </div>
</div>
