.section-one {
  @media only screen and (max-width: 1600px) {
    width: 1250px;
  }
  @media only screen and (max-width: 1500px) {
    width: 1150px;
  }
  @media only screen and (max-width: 1400px) {
    width: 1050px;
  }
  @media only screen and (max-width: 1200px) {
    width: 950px;
  }
}
.section-three,
.section-two {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 1600px) {
    width: 1250px;
  }
  @media only screen and (max-width: 1500px) {
    width: 1150px;
  }
  @media only screen and (max-width: 1400px) {
    width: 1050px;
  }
  @media only screen and (max-width: 1200px) {
    width: 950px;
  }
}
.section-four {
  display: flex;
  justify-content: space-between;
  .widget {
    height: 250px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px #939393;
    &.left {
      width: 670px;
      @media only screen and (max-width: 1200px) {
        width: 570px;
      }
    }
    &.right {
      width: 670px;
      @media only screen and (max-width: 1600px) {
        width: 530px;
      }
      @media only screen and (max-width: 1500px) {
        width: 430px;
      }
      @media only screen and (max-width: 1400px) {
        width: 330px;
      }
      @media only screen and (max-width: 1200px) {
        width: 330px;
      }
    }
  }
}

.widget {
  height: 350px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #9393932b;
  &.left {
    width: 890px;
    @media only screen and (max-width: 1600px) {
      width: 790px;
    }
    @media only screen and (max-width: 1500px) {
      width: 690px;
    }
    @media only screen and (max-width: 1400px) {
      width: 590px;
    }
    @media only screen and (max-width: 1200px) {
      width: 490px;
    }
  }
  &.right {
    width: 450px;
  }
}
